.site-layout-content-home {
  padding: 105px;
  background-image: url(https://i.pinimg.com/564x/76/ad/8a/76ad8ad7169e8227217c2d838dac5ba9.jpg);
  min-height: 350px;
  min-width: max-content;
}
.ant-layout-header.new-header {
  background-color: #fff;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #f9f9f9;
}
.ant-col.ant-col-12.ant-col-offset-2.icon img {
  width: auto;
  height: auto;
}

.home-title {
  text-align: center;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-typography.title {
  padding-left: 105px;
}
.ant-row.row-content {
  padding-top: 30px;
}
/* .ant-typography.h5 {
  background-color: #d3cedf;
} */
.ant-row.row-content p {
  font-size: medium;
}
.footer {
  background-color: #d3cedf;
  text-align: left;
  padding-left: 105px;
}
.footerLink img {
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
.footerLink img:hover {
  opacity: 50%;
}

img {
  width: 400px;
  height: 400px;
}
.ant-layout.portofolio {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 70px;
}
.ant-card-cover img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.project {
  padding-top: 20px;
}
p {
  font-size: large;
}
.footer p {
  font-size: small;
}
.ant-btn.ant-btn-default.button {
  border-radius: 5px;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  width: 150px;
  height: 40px;
}
.ant-btn.ant-btn-default.button a {
  color: #c689c6;
}
